.dropdown:hover .dropdown-menu {
  display: block;
}

.user-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#username,
#password,
#username:-internal-autofill-selected,
#password:-internal-autofill-selected {
  background-color: white !important;
}

nav {
  min-height: 192px;
}

.base-nav {
  padding-top: calc(40px + 0.5rem);
}

.main-body {
  min-height: calc(100vh - 192px);
}

.pil-h1 {
  text-shadow: 1px 0 black;
}

@media (min-width: 768px) {
  .resp-md-w {
    width: 30em;
  }
}

.modal {
  transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

/* enum('backlog','todo','doing','done') */
.backlog {
  color: rgb(216, 29, 44);
}
.todo {
  color: rgb(233, 247, 38);
}
.doing {
  color: rgb(64, 201, 30);
}
.done {
  color: rgb(82, 27, 155);
}
